header{
	background-image:url("../image/large.jpg");
	background-size: cover; 
	background-repeat: no-repeat;
	/* height: 500px; */
	/* background-color:#080808; */
	/* opacity: 0.8; */
}
#bc{
	background-image:url("../image/large.jpg");
	background-size: cover; 
	background-repeat: no-repeat;
	height: 500px;
}
nav.navbar{
	background-color: transparent; 
	border: 0; 
			
} /*Fondo del nav bar*/ 	
.navbar-default .navbar-brand { 
	color: white;	
 	font-size: 120%;
 }/*Color del titulo*/
  .navbar-default .navbar-nav > li > a { 
  	color: #D7DBDD; 
 } /*Color de links*/ 
h2{
	color: white;
}
.espacio{
	margin-top: 9%;
}
.blue{
	color: #1322B0;
}
.text-white{
	color: white;
}
.marb{
	margin-top: 4%;
}
.caja{
	
	background-color: #2031B3;
	background-size: cover;
	opacity: 0.4;
	padding: 1%;
	padding-right: 20%;
	padding-left: 20%;
}
.azul{
	color: #10A0F2;
}
.icon{
	font-size: 200%;
}
.espacio2{
	margin-bottom: 7%;
}
.flecha{
	margin-top: 5%;
	margin-left: 2%;
}
.fondor{
    width: 25%;
    border: blue solid  0 2px 2px 0 ;
    border-radius: 360px;
    box-shadow: 2px 2px 2px 2px;
    padding: 7%;
    margin-left: 35%;
    margin-bottom: 8%;
    margin-top:10%; 
}
iframe{
	width: 100%;
	height:315px;
}
.fl{
	margin-left: 40%;
}
.im{
	background-image: url("../image/sec-2.jpg");
	background-size: 91%; 
	background-repeat: no-repeat;
	height: 600px;
}
.im2{
	margin-top: 1%;
	background-image: url("../image/banner.jpg");
	background-size: 100%; 
	background-repeat: no-repeat;
	height: 600px;
}
.centrar{
	margin-right: 30%;
}
.arriba{
	
	background-color: #2092FC;
	padding: 2%;
}
.esp{
	margin-top: 14%;
}
#foto{
	background-image:url("../image/large.jpg");
	background-size: cover; 
	background-repeat: no-repeat; 
}